/*
Mobile Devices 319px - 480px
Ipads and Tablets 481px - 1200px
Laptops 1201px - 1600px
Desktops 1601px and more
*/

@media (max-width: 1235px) and (min-width: 842px) {
    .sidebar {
        width: 22%;
    }
    .secundary-sidebar-container {
        width: 100%;
        
        .secundary-sidebar {
            width: 90%;
        }
    }
    .photos-section {
        width: 75%;
    }
    .photos-container {
        columns: 200px;
    }
}

@media (max-width: 841px) and (min-width: 600px) {
    .sidebar {
        width: 30%;
    }
    .secundary-sidebar-container {
        width: 100%;
        
        .secundary-sidebar {
            width: 90%;
        }
    }
    .photos-section {
        width: 65%;
    }
    .photos-container {
        columns: 120px;
        gap: 12px;
    }
}

@media (max-width: 599px) and (min-width: 320px) {
    /*Header*/
    .menu {
        display: block;
        position: absolute;
        left: 20px;
        bottom: 10px;
        cursor: pointer;
    }


    .sidebar {
        width: 15%;
        
        .sidebar-containers, .separation-content, .secundary-sidebar-container, 
        .progress-bar {
            display: none;
        }
        
        .responsive-sidebar-containers
        {
        width: 90%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        animation: appear 1.5s ease-in-out;
        transition: all 0.3s ease-in-out;
        }
        
        
        span {
            display: none;
        }
        svg {
            width: 30px;
            height: 30px;
        }
    }
    /*Secundary sidebar*/
    .responsive-secundary-sidebar-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid #2e2f2f;
        animation: appear 1.5s ease-in-out;
        transition: all 0.3s ease-in-out;
        margin-bottom: 10px;
    }
    /*Aside scrollbar*/
    
    .responsive-secundary-sidebar-container::-webkit-scrollbar{
        width: 6px;
    }
    
    .responsive-secundary-sidebar-container::-webkit-scrollbar-track{
        background: #222;
        border-radius: 10px;
    }
    
    .responsive-secundary-sidebar-container::-webkit-scrollbar-thumb {
        background: #555;
        border-radius: 10px;
    }
    
    .responsive-secundary-sidebar-container::-webkit-scrollbar-thumb:hover{
        background: #777 ;
    }
    
    /*Secundary Responsive Sidebar*/
    .responsive-secundary-sidebar{
        width: 90%;
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
    }
    
    :is(.responsive-sidebar-containers, .responsive-secundary-sidebar):hover
    { /*With this property affect whatever class u want to modify*/
        background-color: #2e2e2e;
        scale: 1.05 ;
    }

    /*Photos Section*/
    .photos-section {
        width: 80%;
    }
    
    .photos-container {
        columns: 120px;
        gap: 10px;
    }
}
